.article-paragraph .field-content{text-align:justify;width:221px;}.article-paragraph .views-view-grid{border:3px solid #f26c4f;padding:21px;}
.events-css .views-view-grid{border:3px solid red;}
.block-title{color:#f26c4f;border-bottom:violet;}
